{% load static %}

<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-4">

            <!-- LEFT SIDE -->
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                <a href="#">
                    <div class="bg-primary rounded position-relative">
                        <img src="{% static 'images/ando_long_mst1.png' %}" class="img-fluid w-100 rounded" alt="">

                        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center rounded p-4" style="background: rgba(255, 255, 255, 0.5);">

                            <h3 class="display-5" style="color: #174376;">
                                Ando <br> <span>Long and Eco</span>
                            </h3>

                            <!-- ADDED TEXT -->
                            <p class="fs-4" style="color: #174376;">Roofing & Deco Materials</p>

                           
                            <a href="{%url 'product-lists' %}" class="btn  rounded-pill align-self-start py-2 px-4" style="background-color: #174376; color: white;">Shop Now</a>
                        </div>
                    </div>
                </a>
            </div>

            <!-- RIGHT SIDE -->
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
                <a href="#">
                    <div class="text-center bg-primary rounded position-relative">
                        <img src="{% static 'images/ando_long_mst1.png' %}" class="img-fluid w-100" alt="">

                        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center rounded p-4" style="background: rgba(242, 139, 0, 0.5);">

                            <h2 class="display-2 text-secondary">SALE</h2>

                            <!-- ADDED TEXT -->
                            <h4 class="display-6 text-white">Roofing & Deco Materials</h4>

                            <h4 class="display-5 text-white mb-4">Get UP To 0.2% Off</h4>
                            <a href="{%url 'product-lists' %}" class="btn  rounded-pill align-self-center py-2 px-4" style="background-color: #174376; color: white;">Shop Now</a>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
