 {% load static %}
 <div class="container-fluid product py-5">
            <div class="container py-5">
                <div class="tab-class">
                    <div class="row g-4">
                        <div class="col-lg-4 text-start wow fadeInLeft" data-wow-delay="0.1s">
                            <h1>Our Products</h1>
                        </div>
                        <div class="col-lg-8 text-end wow fadeInRight" data-wow-delay="0.1s">
                           
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="product-item rounded wow fadeInUp" data-wow-delay="0.1s">
                                        <div class="product-item-inner border rounded">
                                            <div class="product-item-inner-item">
                                                 <img src="{% static 'images/zebra.jfif' %}" class="img-fluid w-100 h-100" alt="Image">

                                          
                                                <div class="product-details">
                                                    <a href="#"><i class="fa fa-eye fa-1x"></i></a>
                                                </div>
                                            </div>
                                            <div class="text-center rounded-bottom p-4">
                                                <a href="#" class="d-block mb-2">Zebra Tiles</a>
                                                <a href="#" class="d-block h4">Zebra Shingle <br> Tiles</a>
                                                <del class="me-2 fs-5">TSZ 14,000.00</del>
                                                <span class="text-primary fs-5">TSZ 15,000.00</span>
                                            </div>
                                        </div>
                                        <div class="product-item-add border border-top-0 rounded-bottom text-center p-4 pt-0">
                                            <a href="{% url 'category' 'Zebra Roofing tiles' %}" class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4"
                                            style="background-color: #fdc60d !important; border-color: #fdc60d !important; color: #000 !important;">
                                            <i class="fas fa-shopping-cart me-2"></i> Shop Now
                                            </a>

                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex">
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="d-flex">
                                                    <a href="#" class="text-primary d-flex align-items-center justify-content-center me-3"><span class="rounded-circle btn-sm-square border"><i class="fas fa-random"></i></i></a>
                                                    <a href="#" class="text-primary d-flex align-items-center justify-content-center me-0"><span class="rounded-circle btn-sm-square border"><i class="fas fa-heart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="product-item rounded wow fadeInUp" data-wow-delay="0.3s">
                                        <div class="product-item-inner border rounded">
                                            <div class="product-item-inner-item">
                                                 <img src="{% static 'images/ando_long_mst1.png' %}" class="img-fluid w-100 h-100" alt="Image">

                                                
                                                <div class="product-details">
                                                    <a href="#"><i class="fa fa-eye fa-1x"></i></a>
                                                </div>
                                            </div>
                                            <div class="text-center rounded-bottom p-4">
                                                <a href="#" class="d-block mb-2">Ando Long</a>
                                                <a href="#" class="d-block h4">Ando Long – MST (O/P)</a>
                                                <del class="me-2 fs-5">TSZ 15,000.00</del>
                                                <span class="text-primary fs-5">TZS 16,000.00</span>
                                            </div>
                                        </div>
                                        <div class="product-item-add border border-top-0 rounded-bottom  text-center p-4 pt-0">
                                            <a href="{% url 'category' 'Ando Long' %}" class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4"
                                            style="background-color: #fdc60d !important; border-color: #fdc60d !important; color: #000 !important;">
                                            <i class="fas fa-shopping-cart me-2"></i> Shop Now
                                            </a>

                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex">
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="d-flex">
                                                    <a href="#" class="text-primary d-flex align-items-center justify-content-center me-3"><span class="rounded-circle btn-sm-square border"><i class="fas fa-random"></i></i></a>
                                                    <a href="#" class="text-primary d-flex align-items-center justify-content-center me-0"><span class="rounded-circle btn-sm-square border"><i class="fas fa-heart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="product-item rounded wow fadeInUp" data-wow-delay="0.3s">
                                        <div class="product-item-inner border rounded">
                                            <div class="product-item-inner-item">
                                                 <img src="{% static 'images/Long-lasting-Roofing-Materials.jpg' %}" class="img-fluid w-100 h-100" alt="Image">

                  
                                                <div class="product-details">
                                                    <a href="#"><i class="fa fa-eye fa-1x"></i></a>
                                                </div>
                                            </div>
                                            <div class="text-center rounded-bottom p-4">
                                                <a href="#" class="d-block mb-2">Accessories</a>
                                                <a href="#" class="d-block h4">Gutter</a>
                                                <del class="me-2 fs-5">TZS 4,000.00</del>
                                                <span class="text-primary fs-5">TZS 5,000.00</span>
                                            </div>
                                        </div>
                                        <div class="product-item-add border border-top-0 rounded-bottom  text-center p-4 pt-0">
                                            <a href="{% url 'category' 'Accessories' %}" class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4"
                                            style="background-color: #fdc60d !important; border-color: #fdc60d !important; color: #000 !important;">
                                            <i class="fas fa-shopping-cart me-2"></i> Shop Now
                                            </a>

                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex">
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="d-flex">
                                                    <a href="#" class="text-primary d-flex align-items-center justify-content-center me-3"><span class="rounded-circle btn-sm-square border"><i class="fas fa-random"></i></i></a>
                                                    <a href="#" class="text-primary d-flex align-items-center justify-content-center me-0"><span class="rounded-circle btn-sm-square border"><i class="fas fa-heart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="product-item rounded wow fadeInUp" data-wow-delay="0.3s">
                                        <div class="product-item-inner border rounded">
                                            <div class="product-item-inner-item">
                                                 <img src="{% static 'images/container.webp' %}" class="img-fluid w-100 h-100" alt="Image">

                                                
                                                <div class="product-details">
                                                    <a href="#"><i class="fa fa-eye fa-1x"></i></a>
                                                </div>
                                            </div>
                                            <div class="text-center rounded-bottom p-4">
                                                <a href="#" class="d-block mb-2">Ando mobile structures</a>
                                                <a href="#" class="d-block h4">Flat House Modular Structure</a>
                                                <del class="me-2 fs-5">TZS 1O,000.00/meter</del>
                                                <span class="text-primary fs-5">TZS 12,000.00/meter</span>
                                            </div>
                                        </div>
                                        <div class="product-item-add border border-top-0 rounded-bottom  text-center p-4 pt-0">
                                            <a href="{% url 'category' 'Ando Mobile Steel Structures' %}" class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4"
                                                style="background-color: #fdc60d !important; border-color: #fdc60d !important; color: #000 !important;">
                                                <i class="fas fa-shopping-cart me-2"></i> Shop Now
                                                </a>

                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex">
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="d-flex">
                                                    <a href="#" class="text-primary d-flex align-items-center justify-content-center me-3"><span class="rounded-circle btn-sm-square border"><i class="fas fa-random"></i></i></a>
                                                    <a href="#" class="text-primary d-flex align-items-center justify-content-center me-0"><span class="rounded-circle btn-sm-square border"><i class="fas fa-heart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="product-item rounded wow fadeInUp" data-wow-delay="0.3s">
                                        <div class="product-item-inner border rounded">
                                            <div class="product-item-inner-item">
                                                 <img src="{% static 'images/ando_eco_sw1.png' %}" class="img-fluid w-100 h-100" alt="Image">

            
                                                <div class="product-details">
                                                    <a href="#"><i class="fa fa-eye fa-1x"></i></a>
                                                </div>
                                            </div>
                                            <div class="text-center rounded-bottom p-4">
                                                <a href="#" class="d-block mb-2">Ando Eco</a>
                                                <a href="#" class="d-block h4">Ando Eco – SW (N/P)</a>
                                                <del class="me-2 fs-5">TZS 1,250.00</del>
                                                <span class="text-primary fs-5">TZS 1,050.00</span>
                                            </div>
                                        </div>
                                        <div class="product-item-add border border-top-0 rounded-bottom  text-center p-4 pt-0">
                                            <a href="{% url 'category' 'Ando Eco' %}" class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4"
                                            style="background-color: #fdc60d !important; border-color: #fdc60d !important; color: #000 !important;">
                                            <i class="fas fa-shopping-cart me-2"></i> Shop Now
                                            </a>

                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex">
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="d-flex">
                                                    <a href="#" class="text-primary d-flex align-items-center justify-content-center me-3"><span class="rounded-circle btn-sm-square border"><i class="fas fa-random"></i></i></a>
                                                    <a href="#" class="text-primary d-flex align-items-center justify-content-center me-0"><span class="rounded-circle btn-sm-square border"><i class="fas fa-heart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="product-item rounded wow fadeInUp" data-wow-delay="0.3s">
                                        <div class="product-item-inner border rounded">
                                            <div class="product-item-inner-item">
                                                 <img src="{% static 'images/marble_wall_coating1-768x510.png' %}" class="img-fluid w-100 h-100" alt="Image">

                                               
                                                <div class="product-details">
                                                    <a href="#"><i class="fa fa-eye fa-1x"></i></a>
                                                </div>
                                            </div>
                                            <div class="text-center rounded-bottom p-4">
                                                <a href="#" class="d-block mb-2">Ando Decorative wall coatings</a>
                                                <a href="#" class="d-block h4">Marble Wall Coating</a>
                                                <del class="me-2 fs-5">TZS 10,250.00</del>
                                                <span class="text-primary fs-5">TZS 12,050.00</span>
                                            </div>
                                        </div>
                                        <div class="product-item-add border border-top-0 rounded-bottom  text-center p-4 pt-0">
                                            <a href="{% url 'category' 'Ando Decorative wall coatings' %}" class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4"
                                            style="background-color: #fdc60d !important; border-color: #fdc60d !important; color: #000 !important;">
                                            <i class="fas fa-shopping-cart me-2"></i> Shop Now
                                            </a>

                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex">
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star text-primary"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="d-flex">
                                                    <a href="#" class="text-primary d-flex align-items-center justify-content-center me-3"><span class="rounded-circle btn-sm-square border"><i class="fas fa-random"></i></i></a>
                                                    <a href="#" class="text-primary d-flex align-items-center justify-content-center me-0"><span class="rounded-circle btn-sm-square border"><i class="fas fa-heart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>