{% load static %}
<div class="container-fluid bg-light py-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
                        <a href="#" class="d-flex align-items-center justify-content-between border bg-white rounded p-4">
                            <div>
                                <p class="text-muted mb-3">Find The Best Roofing for You!</p>
                                <h3 class="text-primary">Ando Eco</h3>
                                <h3 class="display-3 text-secondary mb-0"><span class="text-primary fw-normal">0.2% </span><span class="text-primary fw-normal">Off</span></h3>
                            </div>
                             <img src="{% static 'images/ando_eco_sw1.png' %}" class="img-fluid w-100 h-100" alt="Image">

                        </a>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                        <a href="#" class="d-flex align-items-center justify-content-between border bg-white rounded p-4">
                            <div>
                                <p class="text-muted mb-3">Find The Best Deco wall Coatings You!</p>
                                <h3 class="text-primary">Deco Plaster</h3>
                                <h3 class="display-3 text-secondary mb-0"><span class="text-primary fw-normal">0.2% </span><span class="text-primary fw-normal">Off</span></h3>
                            </div>
                             <img src="{% static 'images/ando_decor_plaster1-768x510.png' %}" class="img-fluid w-100 h-100" alt="Image">

                        </a>
                    </div>
                </div>
            </div>
        </div>